@model IEnumerable<TaskTracker.Models.DashBoard>

@{
    ViewData["Title"] = "My Dashboards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dashboards list</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var dashBoard in Model) {
    <tr>
        <td>@dashBoard.Title</td>
        <td>
            
            @if (ViewBag.CurrentUser.Id == dashBoard.CreatorId)
            {
                <p>
                    <a asp-action="Detail" asp-route-id="@dashBoard.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@dashBoard.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@dashBoard.Id">Delete</a>
                </p>
                
            }
            else
            {
                <p>
                    <a asp-action="Detail" asp-route-id="@dashBoard.Id">Details</a> |
                </p>   
            }
        </td>
        
    </tr>
}
    </tbody>
</table>
